{% extends 'pages/dashboard.html' %}
{% block corps %}
{% load widget_tweaks %}

{% block orders %}

<div class="container-fluid px-4">
    <div class="row g-3 my-2">
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
       
          <div class="modal-body">
              <form enctype='multipart/form-data' action="{% url 'addEpreuve' %}" method='POST' class="dropzone dz" id="my-dropzone" >
                {% csrf_token %}
              </form>
          </div>

          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary">Fermer</button>    
          </div>
       
      </div>
    </div>
  </div>
        



        <a class="col-md-3" style="text-decoration:none;"href="#" data-bs-toggle="modal" data-bs-target="#exampleModalLong">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                <div>
                    <h3 class="fs-2">+ </h3>
                    <p class="fs-5">epreuve</p>
                </div>
                <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
        </a>
    </div>

    {% endblock %}

    {% block table %}

    </form>

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <div class="row my-5">
        <h3 class="fs-4 mb-3">Statut epreuves</h3>
        <div class="col">
            <table class="table bg-white rounded shadow-sm  table-hover">
                <thead>
                    <tr>
                        <th scope="col" width="50">#</th>
                        <th scope="col">Noms des Epreuves</th>
                        <th>Statuts</th>
                        <th scope="col">Date de publication</th>
                        <th scope="col">Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paper in epreuves %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{paper.filename}}</td>
                        <td>
                            {% if paper.is_valid %}
                                <span class="badge badge-success">validée</span>
                            {% else %}
                                <span class="badge badge-danger">non validé</span>
                            {% endif %}

                        </td>
                        <td>{{paper.date}}</td>
                        <td>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#delete_paper_{{paper.id}}">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </a>

                            <div class="modal fade" id="delete_paper_{{paper.id}}" tabindex="-1" role="dialog" aria-labelledby="delete_paper" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Souhaitez vous vraiment supprimmer cette epreuve ?</h5>
                                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body text-center">
                                     
                                        <label for="">{{paper.filename}}</label> <br><br>
                                        <label for="">{{paper.date}}</label> <br><br>
                                    
                                    </div>
                                    <div class="modal-footer">
                                      <a href="{% url 'deletePaper' paper.id %}"  class="btn btn-danger">Suprimmer</a>
                                      <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary">Annuler</button>
                                      
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>

</div>


<script type="text/javascript">

  Dropzone.autoDiscover=false;
  const myDropzone= new Dropzone('#my-dropzone',{
      url: '{% url "addEpreuve" %}',
      thumbnailWidth: 200,
      maxFiles:100,
      maxFilesize:100,
      acceptedFiles:".pdf",
      
  });

  myDropzone.on("queuecomplete", function (file) {
    location.reload();
});

  </script>


{% endblock %}


{% endblock %}