body {
    background-color: #f8f8f8 !important;
}

.dz {
    border: dashed !important;
    background-color: #ccc !important;
    border-radius: 10px !important;
}

.dz:hover {
    background-color: aliceblue !important;
}

.badge {
    padding:6px;
    width:80px;
}
.badge-danger{
    border: 1px solid #bb2736;
    background-color:#dc3545;
}

.badge-success{
    border: 1px solid #018152;
    background-color: #009d63;
}